@import '../../styles/contants.scss';

.wrapper {
    overflow: hidden;
    padding-top: 150px;
    @media (max-width: $sm) {
        padding-top: 100px;;
    }

    .container {
        position: relative;
        z-index: 1;

        .upperElements {
            @media (max-width: $sm) {
                justify-content: center;
                align-items: center;
                gap: 2rem;
            }

            span:first-child {
                font-weight: bold;
                font-size: 1.3rem;
            }


            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .lowerElements {
            @media (max-width: $sm),(max-width: $md) {
                margin-top: 3rem;
                gap: 2rem;
                justify-content: center;
            }
            margin-top: 12rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .experiance {
                display: flex;
                align-items: end;
                gap: 2rem;
                >:nth-child(2) {
                    line-height: 25px   ;
                }
            }

            .certificate {
                display: flex;
                flex-direction: column;
                align-items: center;

                svg {
                    font-size: 2.2rem;
                    color: #61DBFB;
                }
            }
        }

        .jimmy {
            @media (max-width: $sm),(max-width: $md) {
                position: relative;
                left: 0;
                background-size: 20rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-position: bottom;
            }
            position: absolute;
            bottom: -2rem;
            margin: auto;
            background-image: url('../../assets/splash.png') ;
            background-repeat: no-repeat;
            background-size: 23rem;
            left: 35%;
            overflow: hidden;

            img {
                @media (max-width: $sm) {
                    width: 23rem;
                    margin-bottom: -5px;
                }
            }
        }

        .email {
            @media (max-width: $sm){
                position: relative;
                display: none;
            }
            text-decoration: none;
            color: var(--primary);
            cursor: pointer;
            font-weight: 500;
            transition: .2s linear;

            &:hover {
                color: #61DBFB;
                
            }
        }
    }
}