@import '../../styles/contants.scss';

.wrapper {
    background: #fff;
    padding: 5rem 0;
    border-top: 1px solid rgb(234, 234, 234);
    .container {
        gap: 2rem;

        @media (max-width: $sm) {
            flex-direction: column;
            gap: 2rem;
            align-items: flex-start;

        }
        .left {
            flex: 3;

            >* {
                display: block;
            }

            >:nth-child(2) {
                margin-top: 3rem;
                a{
                    text-decoration: underline;
                    color: orange;
                }
            }
        }

        .right {
            flex: 1;

            .info {

                p {
                    font-size: 1.5rem;
                    font-weight: bold;
                }
                margin-bottom: 1rem;

                >* {
                    display: block;
                }

                .name {
                    margin-top: 1.2rem;
                    a {
                        text-decoration: none;
                        color: $primary;
                        &:hover svg {
                          transform: scale(1.1);
                        }
                      } svg {
                        font-size: 2.3rem;
                        margin-right: 1rem;
                        transition: .1s linear;
          
                      }

                      
                        
                }

                @keyframes bounce {
                            0%, 100% {
                            transform: translateY(0);
                            }
                            50% {
                            transform: translateY(-8px);
                            }
                        }

                        a {
                            display: inline-block;
                            animation: bounce 2s infinite; 
                        }
            }
        }
    }
}